/Build/*.vcxproj
/Build/*.filters
/Build/*.sln
/Build/*.txt
/Build/*.user
/Build/cmake_install.*
/Build/.vs
/Build/.cmake/*
/Build/CMakeFiles/
/Build/TML/CMakeFiles
/Build/TML/cmake_install.*
/Build/External/CMakeFiles
/Build/External/cmake_install.*
/Build/Torch
/Build/vs2022_vc143_win_x64
/Build/x64
/Build/CMakeCache.txt
/Build/TML
/Build/External/*
!/Build/CMake/*
!/Build/CMake/Modules/*
Torch/lib/*
Torch/Samples/lib/*
Torch/bin
/.vscode/*
External/lib/*

Build/CMakeCache.txt
